*{
    text-decoration: none;
}
.headmain{
    display: flex;
     justify-content: space-between;
     padding: 20px 80px;
     background-color: #fadfca;
     position: sticky; 
     border-radius: 5px;
    }

 #difClr{
    color:#E53935 ;
    text-decoration: overline;
 }  

 
 .red{
    color:#E53935 ;
 }  


nav a{
    text-decoration: none;
    color: #555555
 
}

.Byedit{
    font-size: 18px;
    font-weight: 400;
    color: #555555
  
}
.headleft{
    font-size: 34px;
    font-weight: 800;
    color: #3d3535;
    
}

.headright{
    gap: 30px;
    font-size: 20px;
    font-weight: 600;   
    display: flex;
    align-items: center;
    color: #f3a250 
  
}
.lightclr{
    color:#f3a250 ;
}

.content{
    gap: 30px;
    font-size: 20px;
    font-weight: 600;   
    display: flex;
    align-items: center;
    color: #f3a250 
  
}


.btn{
    background-color: #E53935;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;    
    size: 20px;
    font-size: 19px;
}

.bar{
    display: none;
    color:#E53935
}

.opnsns{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.head1{
    font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.btn:hover{
    background-color: #d4c4ff;
    border: #e79e9d solid 2px;
}
.bdr{
    border-left:5px solid #E53935 ;
    border-radius: 3px;
    padding:0px 40px 0px 20px;
    margin-left: 50px;
}

.mission {
  font-family: "Open Sans", sans-serif;
  color: #555;
}

.mission h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px; 
  font-family: "Yeseva One", serif;
  color:#E53935;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto;
  min-height: 20px;
}
.card:nth-child(1){
    background-color: #b9d2d4;}

    .card:nth-child(2){
        background-color: #e2ccaf;}

        .card:nth-child(3){
            background-color: #e1d6ff;}
   
.card {
  background: #fff;
  border-radius: 12px;
  padding: 5px 25px;
}

.card:hover {
  background-color: #ddcfcf;
  box-shadow: 5px 12px 25px rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.card:hover h2 {
  color: #ff5722;
}

.card p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.Explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 14%;
  gap: 20px;
}

.Explore img {
  width: 400px;   
  height: 450px; 
  border-radius: 12px;
}

.Explore h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.Explore p {
  font-size: 27px;
  color: #555;
}

.drinkimg{
   width: 480px;   
  height: 500px; 
  border-radius: 12px;
}
.hd1{
  justify-content: center;
  text-align: center;
}

.app img{
    width: 740px;   
  height: 600px; 
  border-radius: 12px;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-size: 19px;
}

@media (max-width: 979px) {  
    .headleft{
    font-size: 30px;
    font-weight: 700;} 
    
    .head1{
        font-size: 23px;
        font-weight: 300;
    }

    .headright{
        gap: 20px;
        font-size: 18px;
        font-weight: 500;   
    }
  
   .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.Explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 1%;
  gap: 8px;
}

.Explore img {
  width: 250px;   
  height: 300px; 
  border-radius: 9px;
}

.drinkimg{
  width: 250px;   
  height: 300px; 
  border-radius: 9px;
}

}

@media (max-width: 767px) {

  .headmain{
    padding: 15px 20px;
    gap: 10px;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

.Explore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 1%;
  gap: 9px;
  margin: 0px 10px;
}

.Explore img {
  width: 230px;   
  height: 250px; 
  border-radius: 7px;
}
.drinkimg{
  width: 230px;   
  height: 250px; 
  border-radius: 7px;
}

footer {
  padding: 29px;
  font-size: 17px;
}
}

@media (max-width: 689px){
    .headmain{
       justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        gap: 30px;
    }

    .headright{
        display: none;
    }

    .bar{
        display: block;
        font-size: 25px;
    }
     
     .cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;

}

.mission h1{
  font-size: 20px;
  font-weight: 300;
}

.card p {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
}

.card h2 {
  font-size: 14px;
  font-weight: 400;
}
.Explore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main p{
   font-size: 13px;
}
.main h1{
    font-size: 12px;
    font-weight: 500;
}

.main button{
    font-size: 9px;
    font-weight: 200;
}

.byhead{
 font-size: 16px;
    font-weight: 500;
}

.bybutton{
   font-size: 9px;
    font-weight: 200;
}

.optn1 p{
    font-size: 12px;}
}

@media (max-width: 528px) {

    .head1{
        font-size: 20px;
        font-weight: 300;
    }

  .headleft{
    font-size: 20px;
    font-weight: 300;} 
     .cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;

}

.Explore {
  display: flex;
   flex-direction: column;
}
  .container{
  flex-direction: column-reverse;
}

footer {
  padding: 25px;
  font-size: 14px;
}

}
@media (max-width: 510px) {
 
  .cards {
  display: grid;
  grid-template-columns: 1fr ;
}

.Explore {
  display: flex;
  flex-direction: column;
}

.container{
  flex-direction: column-reverse;
}
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .Explore {
    flex-direction: column;
    padding: 20px 5px;
    gap: 20px;
  }
  .container{
  flex-direction: column-reverse;
}

footer {
  padding: 22px;
  font-size: 12px;
}

}






