*{
    text-decoration: none;
}
.headmain{
    display: flex;
     justify-content: space-between;
     padding: 20px 80px;
     background-color: #fadfca;
     position: sticky; 
     border-radius: 5px;
    }

 #difClr{
    color:#E53935 ;
    text-decoration: overline;
 }  

nav a{
    text-decoration: none;
    color: #555555
 
}

.Byedit{
    font-size: 18px;
    font-weight: 400;
    color: #555555
  
}
.headleft{
    font-size: 34px;
    font-weight: 800;
    color: #3d3535;
    
}

.headright{
    gap: 30px;
    font-size: 20px;
    font-weight: 600;   
    display: flex;
    align-items: center;
    color: #f3a250 
  
}
.lightclr{
    color:#f3a250 ;
}

.content{
    gap: 30px;
    font-size: 20px;
    font-weight: 600;   
    display: flex;
    align-items: center;
    color: #f3a250 
  
}


.btn{
    background-color: #E53935;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;    ;
}

.bar{
    display: none;
    color:#E53935
}

.opnsns{
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.head1{
    font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}
.btn:hover{
    background-color: #d4c4ff;
    border: #e79e9d solid 2px;
}
.bdr{
    border-left:5px solid #E53935 ;
    border-radius: 3px;
    padding:0px 40px 0px 20px;
    margin-left: 50px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 20px;
    padding: 0px 60px ;
   
}
.imgmain {
  position: relative;
  width: 400px;   
  height: 400px; 
  margin: 50px auto;
}

.imgmain img {
  position: absolute;
  max-width: 100%;
  height: auto;
}

.img1 img {
  width: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;   
}

.img2 img {
  width: 75%;
  top: 13%;
  left: 0;
  right: 0;
  margin: auto; 
}

.img3 img {
  width: 55%;
  top: -5%;
  left: 0;
  right: 0;
  margin: auto; 
}

.mission {
  font-family: "Open Sans", sans-serif;
  color: #555;
}

.mission h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px; 
  font-family: "Yeseva One", serif;
  color:#E53935;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto;
  min-height: 20px;
}
.card:nth-child(1){
    background-color: #b9d2d4;}

    .card:nth-child(2){
        background-color: #e2ccaf;}

        .card:nth-child(3){
            background-color: #e1d6ff;}
   
.card {
  background: #fff;
  border-radius: 12px;
  padding: 5px 25px;
}

.card:hover {
  background-color: #ddcfcf;
  box-shadow: 5px 12px 25px rgba(0,0,0,0.2);
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.card:hover h2 {
  color: #ff5722;
}

.card p {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.Explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 14%;
  gap: 30px;
}

.Explore img {
  width: 400px;   
  height: 450px; 
  border-radius: 12px;
}

.Explore h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.Explore p {
  font-size: large;
  color: #555;
}
@media (max-width: 979px) {  
    .headleft{
    font-size: 30px;
    font-weight: 700;} 
    
    .head1{
        font-size: 23px;
        font-weight: 300;
    }

    .headright{
        gap: 20px;
        font-size: 18px;
        font-weight: 500;   
    }
  .main {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  .imgmain {
    width: 320px;
    height: 320px;
    margin: 30px auto;
  }

  .img1 img {
    width: 85%;
  }

  .img2 img {
    width: 70%;
    top: 15%;
  }

  .img3 img {
    width: 50%;
    top: -3%;
  }
   .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
}

@media (max-width: 767px) {

  .headmain{
    padding: 15px 20px;
    gap: 10px;
  }

  .main {
    justify-content: space-around;
    padding: 15px;
  }

  .imgmain {
    width: 280px;
    height: 280px;
    margin: 20px auto;
  }

  .img1 img {
    width: 80%;
  }

  .img2 img {
    width: 65%;
    top: 19%;
  }

  .img3 img {
    width: 47%;
    top: -3%;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 689px){
    .headmain{
       justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        gap: 30px;
    }

    .headright{
        display: none;
    }

    .bar{
        display: block;
        font-size: 25px;
    }
     
    .img1 img {
    width: 76%;
  }
    .img2 img {
    width: 63%;
    top: 29%;
  }

  .img3 img {
    width: 47%;
    top: 9%;
  }
     .cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
}

@media (max-width: 528px) {

    .head1{
        font-size: 20px;
        font-weight: 300;
    }
    .img2 img {
    width: 63%;
    top: 31%;
  }

  .img3 img {
    width: 47%;
    top: 17%;
  }

  .headleft{
    font-size: 20px;
    font-weight: 300;} 
     .cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;

}
}
@media (max-width: 510px) {
  .main {
    flex-direction: column;
    padding: 25px;
    gap: 25px;
  }

  .imgmain {
    width: 220px;
    height: 220px;
    margin: 15px auto;
  }

  .img1 img {
    width: 85%;
  }

  .img2 img {
    width: 70%;
    top: 16%;
  }

  .img3 img {
    width: 54%;
    top: -2px;
  }
  .cards {
  display: grid;
  grid-template-columns: 1fr ;
}
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
  }
}






